@media (min-width: 700px) {


    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 98vw;
        height: 98vh;
        
    }

    .conteudo-principal{
        display: flex;
        height: 500px;
    }

    .imagem-perfume, .descricao{
        width: 350px;
      
        
    }

    h1{
        font-size: 1em;
    }

   
    .conteudo-principal .imagem-perfume img{
        border-radius: 10px 0px 0px 10px;
    }

    .descricao{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: white;
        margin-top: 0px;
        border-radius: 0px 10px 10px 0px;
        padding: 10px 20px 20px 20px;
    }

    

    h2{
        font-size: 3.2em;
        line-height: 50px;
    }

    .imagem-perfume img{
        height: 500px;
        
    }


    .preco h3:first-child{
        font-size: 3em;
    }

    p{
        
    font-size: 1.2em;
    }

    


    

    
    
    
    
}