@media (min-width: 700px) {


    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 98vw;
        height: 98vh;
        
    }

    .conteudo-principal{
        display: flex;
        height: 600px;
    }

    .imagem-perfume, .descricao{
        width: 350px;
      
        
    }
    .conteudo-principal .imagem-perfume img{
        border-radius: 10px 0px 0px 10px;
    }

    .descricao{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        margin-top: 0px;
        border-radius: 0px 10px 10px 0px;
    }

    .imagem-perfume img{
        height: 600px;
        
    }


    .preco h3:first-child{
        font-size: 2em;
    }

    

    p{
        font-size: 1.3em;
    }
    
    
    
}